swiper-container {
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
}

.slide-content {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;  
}

.footer {    
  background-color: red;
  color: white;
  text-align: center;
}